{%- from "nginx/map.jinja" import server with context -%}

{%- for upstream_name, backend in server.upstreams.iteritems() %}
upstream {{ upstream_name }} {

{%- for backend_item in backend.servers %}
  server {{ backend_item }};
{%- endfor %}
}
{%- endfor %}
