{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['nginx', 'apache2-utils'],
        'service': 'nginx',
        'system_user': 'www-data',
        'vhost_dir': '/etc/nginx/sites-available',
        'log_dir': '/var/log/nginx',
    },
    'RedHat': {
        'pkgs': ['nginx', 'httpd-tools'],
        'service': 'nginx',
        'system_user': 'nginx',
        'vhost_dir': '/etc/nginx/conf.d',
        'log_dir': '/var/log/nginx',
    },
}, merge=salt['pillar.get']('nginx:server')) %}
